<section class="about" id="about">
    <div class="content">
        <div class="title"><span>About Me</span></div>
        <div class="about-details">
            <div class="left">
                <% if (aboutInfo){%>
                    <img src="<%=aboutInfo.imageUrl%>" alt="wait">
            </div>
            <div class="right">
                    <p>
                        <%=aboutInfo.description%>
                    </p>
                    <ul class="flexbuttonList">
                    <% if (locals.isAuth && user==locals.loggeduser){%>
                        <div class="flex-button">
                          <span class="iconify" data-icon="ant-design:edit-outlined"></span><a class="email" href="/addAbout/<%=aboutInfo.id%>">Edit</a>
                        </div>
                        <%}%>
                      </ul>
            </div>
        </div>
    </div>
</section>
        <%} else{%>
            <% if (locals.isAuth && user==locals.loggeduser){%>
                <a href="/addAbout">Add about</a>
                <%}%>
                    <%}%>

                    