
  <section class="contact" id="contact">
    <div class="content">
      <div class="title"><span>Contact Me</span></div>
      <div class="text">
        <%=aboutInfo.address%>
        <div class="button">

          <button><span class="iconify" data-icon="bx:phone-call"></span><%=aboutInfo.contact%></button>
        </div>
        <div class="button"> 
          <button><span class="iconify-inline" data-icon="ant-design:mail-filled"></span><a class="email" href="mailto:<%=aboutInfo.email%>"><%=aboutInfo.email%></a></button>
        </div>
      </div>
    </div>
  </section>