<%if(skillInfo.length>0){%>
        <section class="skills" id="skills">
            <div class="content">
                <div class="title"><span>My Skills</span></div>
                <% if (skillInfo.length>0){%>
                <section id="skillBarAjax">
                <div class="skillsBars" id="skillsBars"> 
                
                </div>
            </section>
                
            <% if (locals.isAuth && user==locals.loggeduser && skillInfo.length>0 ){%>
                <a href="/addSkill/<%=locals.loggeduser%>">Edit Skill</a>
                <%}%>
    
        <%}%> 
    </section>

    <%}else{%>
        <% if (locals.isAuth && user==locals.loggeduser){%>
        <section class="skills" id="skills">
            <div class="content">
                <div class="title"><span>My Skills</span></div>
           
                <div class="button emptyCol" style="text-align: center;">
                    <h4> Please add some skills </h4>
                    <a href="/addSkill" style="text-align: center; font-size:1.3rem;">Add Skill</a>
                </div>    
            </div>
        </section>
                    <%}%>

           
            <%}%>
                                           