*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 500;
}
:root{
    --primary-color:linear-gradient(120deg, #5d5d5d, #2196f3);;
    --secondary-color:#0E2431;
    --display-color:rgb(229, 229, 229);
    --font-color:rgb(255, 166, 0);
}
body{
    height: 100vh;
    background:var(--primary-color);
}
.container{
    background-color:var(--secondary-color);
    width: 70%;
    min-width: 420px;
    padding: 27px 50px;
    margin-top: 2%;
    margin-bottom: 10%;
   
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
}
h1{
    font-size: 30px;
    text-align: center;
    color: var(--font-color);
}
p{
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    color: var(--font-color);
    font-size: 14px;
    font-weight: 400;
}
form{
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
}
.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}


label{
    color:var(--font-color);
    font-size: 14px;
}
textarea,
input{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}



textarea{
    resize: none;
}
textarea:focus,
input:focus{
    outline: none;
    border-color:var(--primary-color);
  
}
button{
    border: none;
    padding: 10px 20px;
    background: var(--font-color);
    color: #ffffff;
    border-radius: 3px;
}

.btn{
    color:var(--font-color)
}

