<%- include('../.././includes/head',{pageTitle:"Add Description"})%>
<script src="/skillform.js" defer></script>
<link rel="stylesheet" href="/otherFormStyle.css">
<script src="/theme.js" defer></script>
</head>
<body>

    <%- include('skillform',{path:'/addSkill',
        skillInfo:[]
        ,heading:"Add Your Skills"
    })%>
   
</body>
</html>

