<%- include('../.././includes/head',{pageTitle:"Update Description"})%>
<link rel="stylesheet" href="/otherFormStyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/skillform.js" defer></script>
<script src="/theme.js" defer></script>

</head>
<body>

    
    
    <%- include('skillform',{path:'/addSkill/',skillInfo:skillInfo,heading:"Edit Your Skills"})%>
   
</body>
</html>