<%- include('../.././includes/head',{pageTitle:"Update Description"})%>
<link rel="stylesheet" href="/otherFormStyle.css">

</head>
<body>

    <%- include('aboutform',{path:'/addAbout/'+aboutData.id,aboutData:aboutData,imageReq:false,heading:"Update Your Details"})%>
   
</body>
</html>