<%- include('../.././includes/head',{pageTitle:"Add Project"})%>

<script src="/projectForm.js" defer></script>
<link rel="stylesheet" href="/otherFormStyle.css">
</head>
<body>
    
    <%- include('projectForm',{path:'/addProject',
        projectInfo:[],imageReq:true,
        heading:"Add new Project"
        
    })%>
   
</body>
</html>

