<%- include('../.././includes/head',{pageTitle:"Add Experience"})%>
<script src="/form.js" defer></script>
<link rel="stylesheet" href="/otherFormStyle.css">
</head>
<body>

   
    <%- include('experienceForm',{path:'/addExperience',
        experienceInfo:[],imageReq:true,
        heading:"Edit Job Description"
        
    })%>
   
</body>
</html>

