<%- include('../.././includes/head',{pageTitle:"Update Experience"})%>
<script src="/form.js" defer></script>
<link rel="stylesheet" href="/otherFormStyle.css">
</head>
<body>
  
    <%- include('experienceForm',{path:'/updateExperience/'+experienceInfo.id,experienceInfo:experienceInfo,imageReq:false,heading:"Edit Job Description"})%>
   
</body>
</html>